@{
    ViewData["Title"] = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading" style="position: relative; background-image: url('/emircaniletisim.png'); background-size: cover; background-position: center 48%; height: 400px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);">
        <!-- Siyah Transparan Katman -->
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>

        <div class="container" style="position: relative; z-index: 1;">
            <div class="text-content">
                <br />
                <br />
                <br />
            
            
                <h2 style="text-align:center; color: white;font-style:italic" >Hakkımda</h2>
            </div>
        </div>
    </section>
</div>
<!-- Banner Ends Here -->

<section class="about-us">
    <div class="container">
        <!-- Tecrübelerim -->
        <div class="row">
            <div class="col-lg-12">
                <h3 style="text-align: center; color: #333;">Kariyer yolumdan kısaca</h3>
                <p style="text-align: center; color: #666;">
                    Oldum değil hep olmaya çalışacağım yazılımcı olma yolunda, büyük bir disiplinli bireysel öğrenme sürecim ile kendimi sürekli
                    olarak geliştirmekteyim. Öğrendiğim her bilgiyi yaptığım sunumlarla öğrenmeyi arzulayan hedefi olan insanlarla  paylaşıyorum ve
                    katıldığım projeler sayesinde teorik bilgilerimi pratiğe dökme fırsatı
                    buluyorum. Gönüllü olarak ekip çalışmalarına destek veriyorum. Kişisel olarak geliştirdiğim projelerle yazılım alanındaki bilgi
                    ve becerilerimi daha da derinleştirmekteyim. Özellikle, Mersin
                    Üniversitesi'nde kullanıma sunduğum Yapay zeka destekli Akademik Sınav Sistemi projemle,
                    eğitmenlerin işini %90 oranında kolaylaştıran yapay zeka destekli bir
                    çözüm sundum. Çok daha yenilikçi projelerimi güncel teknolojilerle .NET Ekosisteminde hayata geçirme hedefiyle kariyerime devam ediyorum.
                </p>
              
            </div>
        </div>

  
        <div class="row">
            <div class="col-lg-12">
                <h3 style="text-align: center; color: #333;">Projelerim</h3>
               <br /> 
               <br /> 
               <br /> 
                <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
                    <div style="flex: 1 1 300px; max-width: 300px; text-align: center;">
                        <img src="/akademiksinav.png" alt="Proje 1" style="width: 100%; height: auto; object-fit: cover;">
                        <p style="color: #666;"> Türkiye'de ilk Yapay Zeka Destekli Akademik Sınav sistemi </p>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <!-- Kendi Yeteneklerim -->
        <div class="row">
            <div class="col-lg-12">
                <h3 style="text-align: center; color: #333;">Hakim olduğum Teknolojiler</h3>
                <p style="text-align: center; color: #666;">
                    .NET ekosisteminde projelerimle deneyime sahip olup, C# dilini etkin bir şekilde kullanarak çeşitli uygulamalar ve sistemler geliştirdim. Ayrıca, JavaScript teknolojileri ile projelerimi güçlendirdim. ASP.NET Core ile kapsamlı projeler yürüterek, dinamik ve ölçeklenebilir çözümler sunma konusunda yetkinim. Veritabanı yönetimi , Api Servisleri yazma , yenilikçi ve güçlü yönetilebilir projeler ortaya koyma gibi hedeflerle bir çok geliştirme teknolojisinde yoğun olarak çalışıyorum.
                </p>
                <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
                    <!-- Örnek kutucuklar -->
                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src="https://static-00.iconduck.com/assets.00/c-sharp-c-icon-912x1024-j3yidw37.png" alt="Dil 1" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333;  margin-top: 10px;">C#</p>
                    </div>
                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src="https://www.yusufsezer.com.tr/dosyalar/2019/03/net.png" alt="Dil 2" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">.NET Core 
                        </p>
                    </div>
                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">Javascript</p>
                    </div>

                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src="https://p7.hiclipart.com/preview/816/377/205/microsoft-sql-server-database-administrator-computer-icons-table-free-high-quality-sql-server-icon.jpg" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">T-SQL , MSSQL</p>
                    </div>

                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src="https://pbs.twimg.com/profile_images/1785867863191932928/EpOqfO6d_400x400.png" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">React</p>
                    </div>

                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src="https://platri.de/wp-content/uploads/2024/01/Angular-Framework-e1649312852136.png" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">Angular</p>
                    </div>

                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src="https://miro.medium.com/v2/resize:fit:512/1*doAg1_fMQKWFoub-6gwUiQ.png" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">Mongo DB</p>
                    </div>

                      <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj23hu6kWNIQY-gJi3PTOPgnKDQBz95OlqVO-YvRhiqZ9Dnk6VXVyvD9kGukIPrymggP4&usqp=CAU" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">Web Api & Services </p>
                    </div>
                
                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src=" https://miro.medium.com/v2/resize:fit:1358/1*4FEmYOucEQ4AY3FX0qm4TQ.png" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">Design Patterns </p>
                    </div>

                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src=" https://miro.medium.com/v2/resize:fit:1119/0*EppBJ58XIDlGpzGx.png" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">Ajax</p>
                    </div>

                    <div style="flex: 1 1 200px; max-width: 200px; text-align: center; border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
                        <br />
                        <img src=" https://codeopinion.com/wp-content/uploads/2018/06/TTSignalR.png" alt="Dil 3" style="width: 40%; height: 40%; object-fit: contain;">
                        <p style="color: #333; margin-top: 10px;">Signal R</p>
                    </div>
                    <!-- Daha fazla dil/teknoloji için benzer yapıyı kullanabilirsiniz -->
                </div>
            </div>
        </div>
    </div>
</section>
